{% extends 'base.template.html' %}
{%load static %}

<!-- {%block content%}
    {% if request.user.is_authenticated  %}
    <p>Welcome {{request.user}}</p>
    {% else %}
    <p>Please <a href="/accounts/login">Login</a></p>
    {%endif%} -->

    {% for list in listings %}
        <li class="mt-1 mb-1">
        <a href="{% url 'view_listing_details' listing_id=list.id %}">{{list.title}}</a>    
        {{list.title}} - {{list.description}} <a href="{% url 'update_listing_route' listing_id=list.id %}" class= "btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'delete_listing_route' listing_id=list.id %}" class= "btn btn-primary btn-sm">Delete</a>
        <a href="{% url 'add_to_cart' listing_id=list.id %}" class= "btn btn-primary btn-sm">Add to Cart</a> 
        </li>
    {% endfor %}
{%endblock%}