{% extends 'base.template.html' %}
{%load static %}

{%block content%}
    display user logged in
    {% if request.user.is_authenticated  %}
    <p>Welcome {{request.user}}</p>
    {% else %}
    <p>Please <a href="/accounts/login">Login</a></p>
    {%endif%}

    hello worldz
    {% for list in listings %}
        <li>
        <a href="{% url 'view_listing_details' listing_id=list.id %}">{{list.title}}</a>    
        {{list.title}} - {{list.description}} <a href="{% url 'update_listing_route' listing_id=list.id %}">Edit</a>
        <a href="{% url 'delete_listing_route' listing_id=list.id %}">Delete</a>
        </li>
    {% endfor %}
{%endblock%}