{% extends 'base.template.html' %}

{% block content%}

<div class="text-justify">
Hello World!
<p>Welcome to Chatuchak 365, an ecommerce platform for South-East-Asian street market products.</p>
<p></p>
How did the name "Chatuchak 365" come about?
<p></p>
"Chatuchak" is Thailand's biggest street market, with over 15,000 stalls, 11,500 vendors, over an area of 25 acres (which is over 26 football fields)!
Chatuchak attracts 200,000 visitors every weekend, and offers a variety of local goods, such as clothing and accessories, furniture, food and beverage, antiques, and more.
<p></p>
With the Covid-19 pandemic, it has become increasingly difficult for locals and tourists to travel and visit such vibrant street markets, and for local businesses to maintain their livelihoods.
<p></p>
Therefore, "365" represents the concept of "Chatuchak" going online, being accessible all year round, anytime, anywhere. This is especially important in a pandemic like this. Chatuchak 365 simply aims to help South East Asian locals maintain their livelihood through ecommerce, while providing an avenue for international visitors to continue to shop for the street market products that they love.
<p></p>
Here at Chatuchak 365, expect to find similar products you may find in Chatuchak Thailand, or other South East Asian street markets.
<p></p>
You may browse listings as a guest, or create an account if you'd like to add products to cart for checkout and purchase.
<p></p>
For sellers interested to add / edit / delete products on Chatuchak 365, please feel free to contact us directly at jyfoo213@gmail.com where we can assist with the registration of a seller account (superuser), or provide a trial account for you to get started with.
<p></p>
Hope you find this website useful, and find something you love as well. Happy shopping!
<p></p>
Regards
<br>
Jiun Yang
<br>
Founder of Chatuchak 365
</div>
<a href="{% url 'view_listing_route' %}" class="btn btn-warning mt-3 btn-block">Browse Listings Now!</a>


{% endblock %}